<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .zizi{
        text-align: center;
        margin-top: 50px;
    }
    span{
        font-size: 50px;
    }
   
    .span2{
        
        color: aqua;
    }
    button{
        width: 100px;
        height: 30px;
        background-color: black;
        color: aliceblue;
    }
    p{
        margin: 30px;
    }
    .box{
        width: 100px;
        height: 30px;
        background-color: aquamarine;
        margin-top: 100px;
        margin-left: 700px;
    }
    p{
        text-align: center;
    }
</style>