<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   
    .zizi{
         width: 550px;
        height: 380px;
        background-color: #F2F2F2;
        margin-left: calc(50% - 275px);
        margin-top: calc(15% - 125px);
        padding-top: 25px;
    }
    h1{
        text-align: center;
    }
    .form{
        width: 450px;
        height: 250px;
        background-color: #e9be6138;
        margin-left: 25px;
        padding-top: 25px;
        text-align: 20px center;
        padding-left: 25px;
    }
    .khung{
        width: 450px;
    }
    div{
        width: 500px;
        height: 30px;
        background-color: #F2F2F2 ;
        
    }
    .button{
        width: 75px;
        height: 25px;
         background-color: #0087BD;
        color: white;
        text-align: center;
        border-radius: 5px;
        margin-top: 10px;
    }
</style>